<div id="hoot-desktop">
    <!-------------------- Home Page --------------------> 
    <div class="home-wrapper"  id="top">
        <div class="hero-section">
            <img id="hoot-logo" src="<%= asset_path('hoothollalogonocross.png') %>">
            <img id="hoot-cross" src="<%= asset_path('hoot-cross.png')  %>">
            <h1 id="hero-text">web-dev / superhero</h1>
            <img id="batman-computer" src="<%= asset_path('batman-computer.png') %>">
            <img id="nav-right" src="<%= asset_path('arrow-blue.png') %>">
        </div>
    </div>
    <nav class="navbar-bottom">
        <ul class="nav-buttons">
            <a class="nav-item-1" href="#"><li>About</li></a>
            <a class="nav-item-2" href="#"><li>Contact</li></a>
            <a class="nav-item-3" href="#"><li>Work</li></a>
            <img id="nav-down" src="<%= asset_path('arrow-blue.png') %>">
        </ul>
    </nav>
    
    <!-------------------- About Page --------------------> 
    <div class="about-wrapper">
        <div class="about-hero-section">
            <!--<img id="hoot-logo" src="<%= asset_path('hoothollalogonocross.png') %>">-->
            <!--<img id="hoot-cross" src="<%= asset_path('hoot-cross.png')  %>">-->
            <!--<h1 id="hero-text">web-dev / superhero</h1>-->
            <img id="batman-lounge" src="<%= asset_path('Batman Lounge.png') %>">
            <img id="nav-left" src="<%= asset_path('arrow-blue.png') %>">
        </div>
    </div>
    <!--<nav class="navbar-bottom">-->
    <!--    <ul class="nav-buttons">-->
    <!--        <a class="nav-item" href="#"><li>Home</li></a>-->
    <!--        <a class="nav-item" href="#"><li>Contact</li></a>-->
    <!--        <img id="nav-down" src="<%= asset_path('arrow-blue.png') %>">-->
    <!--    </ul>-->
    <!--</nav>-->
    
    
    <!-------------------- Works Page -------------------->
    <div class="works-wrapper">
        <div class="works-section">
            <div class="works-body">
                <img id="nav-home" src="<%= asset_path('arrow-blue.png') %>">
                <h2>Past work</h2>
                <div class="work-examples">
                    <div id="work-example-1">
                        <div class="work-overlay">
                            <p class="work-company">Hoot & Holla</p>
                            <p class="work-description">Full website build</p>
                        </div>
                        <img class="work-logos" src="<%= asset_path('hoothollalogonocross.png') %>">
                    </div>
                    <!--<div id="work-example-2">-->
                    <!--    <div class="work-overlay">-->
                    <!--        <p class="work-company">Hoot & Holla</p>-->
                    <!--        <p class="work-description">Full website build</p>-->
                    <!--    </div>-->
                    <!--    <img class="work-logos" src="<%= asset_path('hoothollalogonocross.png') %>">-->
                    <!--</div>-->
                    <!--<div id="work-example-3">-->
                    <!--    <div class="work-overlay">-->
                    <!--        <p class="work-company">Hoot & Holla</p>-->
                    <!--        <p class="work-description">Full website build</p>-->
                    <!--    </div>-->
                    <!--    <img class="work-logos" src="<%= asset_path('hoothollalogonocross.png') %>">-->
                    <!--</div>-->
                    <!--<div id="work-example-4">-->
                    <!--    <div class="work-overlay">-->
                    <!--        <p class="work-company">Hoot & Holla</p>-->
                    <!--        <p class="work-description">Full website build</p>-->
                    <!--    </div>-->
                    <!--    <img class="work-logos" src="<%= asset_path('hoothollalogonocross.png') %>">-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
    <!--<nav class="navbar-bottom">-->
    <!--    <ul class="nav-buttons">-->
    <!--        <a class="nav-item" href="#"><li>Home</li></a>-->
    <!--        <a class="nav-item" href="#"><li>Contact</li></a>-->
    <!--        <img id="nav-down" src="<%= asset_path('arrow-blue.png') %>">-->
    <!--    </ul>-->
    <!--</nav>-->
    
    
    <!-------------------- Contact Page -------------------->
    <div class="contact-wrapper">
        <div class="contact-section">
            <img id="nav-up" src="<%= asset_path('arrow-blue.png') %>">
            <%= render 'contacts/form' %>
            <div id="dark-1">
                <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
            </div>
            <div id="dark-2">
                <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
            </div>
            <div id="dark-3">
                <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
            </div>
            <div id="dark-4">
                <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
            </div>
            <div id="dark-5">
                <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
            </div>
            <div id="dark-6">
                <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
            </div>
            <div id="dark-7">
                <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
            </div>
            <div id="dark-8">
                <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
            </div>
            <div id="dark-9">
                <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
            </div>
            <div id="dark-10">
                <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
            </div>
            <div id="dark-11">
                <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
            </div>
            <div id="dark-12">
                <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
            </div>
        </div>
    </div>
</div>

<div id="hoot-mobile">
    
    <!--    first scroll section/hero     -->
	<div class="scrolling-bg scroll-bg-1">
		<div class="scroll-1-container">
		    <h1 id="slideout-nav">| | |</h1>
		    <div id="slide-nav-contents">
		        <ul id="nav-ul">
		            <li id="nav-aboutme">About Me</li>
		            <li id="nav-works">Works</li>
		            <li id="nav-contact">Contact</li>
		        </ul>
		    </div>
            <img id="hoot-logo" src="<%= asset_path('hoothollalogonocross.png') %>">
            <img id="hoot-cross" src="<%= asset_path('hoot-cross.png')  %>">
            <h1 id="hero-text">web-dev / superhero</h1>    
		</div> 
	</div> 
	<!-------------------------------------->
    
	<!--  first fixed bg with eyes        -->
	<div class="fixed-bg fixed-bg-1"></div> 
	<div class="eyes-bg">
        <div id="dark-1-mob" class="animate-flicker-1">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-2-mob" class="animate-flicker-2">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-3-mob" class="animate-flicker-3">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-4-mob" class="animate-flicker-4">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-5-mob" class="animate-flicker-5">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-6-mob" class="animate-flicker-6">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-7-mob" class="animate-flicker-7">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-8-mob" class="animate-flicker-8">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-9-mob" class="animate-flicker-9">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-10-mob" class="animate-flicker-10">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-11-mob" class="animate-flicker-11">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-12-mob" class="animate-flicker-12">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
	</div>
	<!-------------------------------------->
 
    
    
    <!--    second scroll section         --> 
	<div class="scrolling-bg scroll-bg-2">
		<div class="scroll-2-container">
            <h1>What I do</h1>
		</div> 
	</div>
    <!-------------------------------------->
    
    <!--    second fixed bg on lounge     -->
	<div class="fixed-bg fixed-bg-2"></div>
	<!-------------------------------------->
	


    <!--    third scroll section         --> 
	<div class="scrolling-bg scroll-bg-2">
		<div class="scroll-2-container">
            <h1>What I've done</h1>
		</div> 
	</div>
	<!-------------------------------------->
	
	<div class="fixed-bg fixed-bg-3"></div>
	
	<div class="scrolling-bg scroll-bg-2">
		<div class="scroll-2-container">
            <h1>I'd love to chat more! Send me an email!</h1>
		</div> 
	</div>
</div>