<div id="hoot-desktop">
    
    <div class="room-wrapper">
        <div class="room-filler">
            <img id="dt-door" src="<%= asset_path('door.png') %>">
            <img id="dt-window" src="<%= asset_path('window.png') %>">
            <img id="dt-floor" src="<%= asset_path('floor.png') %>">
            <img id="dt-roof" src="<%= asset_path('roof blur.png') %>">
            <img id="dt-skirting" src="<%= asset_path('floor skirting.png') %>">
            <img id="dt-room-eye" src="<%= asset_path('batman-eye-room.png') %>">
            
        </div>
    </div>
    <!-------------------- Home Page --------------------> 
    <div class="home-wrapper on-home"  id="top">
        <div class="hero-section">
            <img id="desktop-logo" src="<%= asset_path('black white logo.png') %>">
            <h1 id="hero-text">web-dev / superhero</h1>
            <img id="batman-computer" src="<%= asset_path('batman-comp-shadow.png') %>">
        </div>
    </div>
    <nav class="navbar-bottom">
        <ul class="nav-buttons">
            <a class="nav-item-1" id="dt-about" href="#"><li>About</li></a>
            <a class="nav-item-2" id="nav-up" href="#"><li>Contact</li></a>
            <a class="nav-item-3" id="dt-work" href="#"><li>Work</li></a>
            <img class="nav-item-home" id="dt-home" src="<%= asset_path('home.png') %>">
            <img id="nav-up" src="<%= asset_path('arrow-blue.png') %>">
            <p id="dt-fb-sprite"></p>
	        <p id="dt-twitter-sprite"></p>
	        <p id="dt-insta-sprite"></p>
        </ul>
    </nav>
    
    <!-------------------- About Page --------------------> 
    <div class="about-wrapper">
        <div class="about-hero-section">
            <img id="dt-profile-pic" src="<%= asset_path('jd-profile-train.png') %>">
            <img id="dt-about-light" class="swing-light" src="<%= asset_path('room-light-no-edge.png') %>">
            <div class="dt-profile-p-wrapper">
                <p id="dt-name-head">I am...</p>
                <!--<p id="dt-name-name">Justin Davidson</p>-->
                <p id="dt-about-body">A full-stack web developer that has a passion for good design, slick UI/UX, and writing clean maintainable code.</p>
        	    <p id="dt-about-body2">I enjoy being challenged and keeping in touch with emerging technologies.</p>
        	    <p id="dt-about-body3">I am a father to a beautiful boy and husband to an amazing wife :)</p>
        	    <img id="dt-linkedin-about" src="<%= asset_path('linkedin-logo.png') %>">
                <a id="dt-linkedin-link" href="https://au.linkedin.com/in/justin-davidson-01402486
" target="_blank">Reach out on LinkedIn!</a>
    	    </div>
            <!--<img id="nav-left" src="<%= asset_path('arrow-blue.png') %>">-->
        </div>
    </div>
    
    
    <!-------------------- Works Page -------------------->
    <div class="works-wrapper">
        <div class="works-section">
            <div class="works-body">
                <div id="dt-process-wrapper">
                    <h2 id="dt-what-do">What I do</h2>
                    <img id="dt-arrow-right" src="<%= asset_path('right-arrow.png') %>">
                    <div class="dt-process">
                        <div id="dt-process-1">
                            <img id="dt-process-1-img" src="<%= asset_path('good-idea_38.svg') %>">
                            <p id="dt-process-1-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                        </div>
                        <div id="dt-process-2">
                            <img id="dt-process-2-img" src="<%= asset_path('good-idea_26.svg') %>">
                            <p id="dt-process-2-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                        </div>
                        <div id="dt-process-3">
                            <img id="dt-process-3-img" src="<%= asset_path('good-idea_19.svg') %>">
                            <p id="dt-process-3-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                        </div>
                    </div>
                </div>
                
                <div id="dt-clients-wrapper">
                    <h2 id="dt-past-clients">What I've done</h2>
                    <img id="dt-arrow-left" src="<%= asset_path('right-arrow.png') %>">
                    <img id="dt-arrow-right-2" src="<%= asset_path('right-arrow.png') %>">
                    <img id="dt-bat-lounge-clients" src="<%= asset_path('bat-lounge-with-shadow.png') %>">
                    <div class="work-examples">
                        <div id="dt-works-1">
                            <img id="dt-client-1-logo" src="<%= asset_path('Social_Playground_logo_Circle.png') %>">
                            <p class="dt-work-description-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                        </div>
                        <div id="dt-works-2">
                            <img id="dt-client-2-logo" src="http://cdn.shopify.com/s/files/1/0876/0596/t/6/assets/logo.png?8575884855795847578">
                            <p class="dt-work-description-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                        </div>
                    </div>
                </div>
                
                <div id="dt-education-wrapper">
                    <h2 id="dt-education">Where I've been</h2>
                    <img id="dt-arrow-left-2" src="<%= asset_path('right-arrow.png') %>">
                    <div class="dt-education">
                        <div id="edu-card-1">
                            <img id="coderfactory-logo" src="<%= asset_path('coderfactory-logo.jpg') %>">
                            <p id="edu-header-1" class="dt-edu-headers">2016</p>
                            <p id="edu-text-1" class="dt-edu-text"><a href="https://coderfactory.com/" target="_blank">Coder Factory</br></a></p>
                            <p id="edu-text-1-1">  - Diploma of Software Development</p>
                            <p id="edu-text-1-2">Skills gained include HTML5, CSS3, Ruby, Ruby on Rails, AngularJS, NodeJS, Javascript, jQuery, Git, Heroku</p>
                        </div>
                        <div id="edu-card-2">
                            <p id="edu-header-2" class="dt-edu-headers">2015</p>
                            <p id="edu-text-2" class="dt-edu-text">Freelance Web Development</p>
                            <p id="edu-text-2-1" class="dt-edu-text">Involved the complete build, design, and maintenance of Web Apps for multiple clients</p>
                        </div>
                        <div id="edu-card-3">
                            <p id="edu-header-3" class="dt-edu-headers">2014/15</p>
                            <p id="edu-text-3" class="dt-edu-text">JMC Academy - Film & TV production</p>
                            <p id="edu-text-3-1" class="dt-edu-text">  - Diploma of Creative Arts (Film and Television production</p>
                            <p id="edu-text-3-2" class="dt-edu-text">Skills gained include multi-cam studio operation and filming, live-broadcasting, sound and audio, lighting, advanced editing and animation</p>
                        </div>
                        <div id="edu-card-4">
                            <p id="edu-header-4" class="dt-edu-headers">2002-2014</p>
                            <p id="edu-text-4" class="dt-edu-text">Radiographer</p>
                            <p id="edu-text-4-1" class="dt-edu-text">Many roles in large public hospitals and emergency departments. Lead trainer in CT and trauma imaging and CT consultant in complex cardiac scanning techniques and protocols</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <!-------------------- Contact Page -------------------->
    <div class="contact-wrapper">
        <div class="contact-section">
            <h3 id="dt-contact-cta">..say hi!</h3>
            <p id="dt-contact-cta-1">or reach out below.</p>
            <a id="dt-contact-linkedin" href="https://au.linkedin.com/in/justin-davidson-01402486
" target="_blank"><img src="<%= asset_path('linkedin-logo-white.png') %>"></a>
            <a id="dt-contact-github" href="https://github.com/RuNpiXelruN" target="_blank"><img src="<%= asset_path('github-logo.png') %>"></a>
            <img id="nav-down" src="<%= asset_path('arrow-blue.png') %>">
            <%= render 'contacts/form' %>
            <div id="dark-1">
                <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
            </div>
            <div id="dark-2">
                <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
            </div>
            <div id="dark-3">
                <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
            </div>
            <div id="dark-4">
                <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
            </div>
            <div id="dark-5">
                <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
            </div>
            <div id="dark-6">
                <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
            </div>
            <div id="dark-7">
                <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
            </div>
            <div id="dark-8">
                <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
            </div>
            <div id="dark-9">
                <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
            </div>
            <div id="dark-10">
                <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
            </div>
            <div id="dark-11">
                <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
            </div>
            <div id="dark-12">
                <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
            </div>
        </div>
    </div>
</div>

<div id="hoot-mobile">
    
    <!--    first scroll section/hero     -->
	<div class="scrolling-bg scroll-bg-1">
		<div class="scroll-1-container">
		    <i class="fa fa-bars" aria-hidden="true"></i>
		    <a id="nav-button-wrapper"></a>
		    <div id="nav-icon-wrapper"></div>
		    
		    <div id="mob-sprites-wrapper">
    		    <div id="mob-social-sprites">
    		        <p id="mob-fb-sprite"></p>
    		        <p id="mob-twitter-sprite"></p>
    		        <p id="mob-insta-sprite"></p>
    		    </div>
		    </div>
		    
		    <div id="slide-nav-contents">
		        <ul id="nav-ul">
		            <a href="#mob-about"><li id="nav-aboutme" class="nav-links">About Me</li></a>
		            <a href="#works-1"><li id="nav-works" class="nav-links">Works</li></a>
		            <a href="#mob-contact"><li id="nav-contact" class="nav-links">Contact</li></a>
		        </ul>
		    </div>
		    <img id="mob-hoot-logo" src="<%= asset_path('black white logo.png') %>">
            <h1 id="hero-text">web-dev / superhero</h1>    
            <img id="batman-comp-mob" src="<%= asset_path('batman-comp-shadow.png') %>">
		</div> 
	</div> 
	<!-------------------------------------->
    
	
	<div class="fixed-bg fixed-bg-1"></div> 
	<div class="eyes-bg">
        <div id="dark-1-mob" class="animate-flicker-1">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-2-mob" class="animate-flicker-2">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-3-mob" class="animate-flicker-3">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-4-mob" class="animate-flicker-4">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-5-mob" class="animate-flicker-5">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-6-mob" class="animate-flicker-6">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-7-mob" class="animate-flicker-7">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-8-mob" class="animate-flicker-8">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-9-mob" class="animate-flicker-9">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-10-mob" class="animate-flicker-10">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-11-mob" class="animate-flicker-11">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-12-mob" class="animate-flicker-12">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
	</div>
	
	<div id="mob-about" class="aboutme-mob">
	    <img id="mob-profile-pic" src="<%= asset_path('jd-profile-train.png') %>">
	    <h2 id="mob-who-i-am">I am..</h2>
	    <p id="mob-about-body">A full-stack web developer that has a passion for good design, slick UI/UX, and writing clean maintainable code.</p>
	    <p id="mob-about-body2">I enjoy being challenged and keeping in touch with emerging technologies.</p>
	    <p id="mob-about-body3">I am a father to a beautiful boy and husband to an amazing wife :)</p>
	</div>
	
	<div class="scrolling-bg scroll-bg-2">
        <h1 id="what-do-header">What I do</h1>
	</div>
	<div class="skills-section-mob">
	    <div class="skills-wrapper">
	        <div class="skills-1">
    	        <img id="skill-idea" src="<%= asset_path('good-idea_38.svg') %>">
    	        <div id="light-1">
    	            <p>Initial Concept and Wireframing</p>
    	        </div>
	        </div>
	        <div class="skills-2">
    	        <img id="skill-build" src="<%= asset_path('good-idea_26.svg') %>">
    	        <div id="light-2">
    	            <p>Ruby on Rails back-end development and framework</p>
    	        </div>
	        </div>
	        <div class="skills-3">
    	        <img  id="skill-complete"src="<%= asset_path('good-idea_19.svg') %>">
    	        <div id="light-3">
    	            <p>Ruby on Rails back-end development and framework</p>
    	        </div>
	        </div>
	    </div>
	</div>

    <div class="fixed-bg fixed-bg-2"></div> 
	<div class="eyes-bg">
        <div id="dark-1-mob" class="animate-flicker-1">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-2-mob" class="animate-flicker-2">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-3-mob" class="animate-flicker-3">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-4-mob" class="animate-flicker-4">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-5-mob" class="animate-flicker-5">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-6-mob" class="animate-flicker-6">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-7-mob" class="animate-flicker-7">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-8-mob" class="animate-flicker-8">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-9-mob" class="animate-flicker-9">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-10-mob" class="animate-flicker-10">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-11-mob" class="animate-flicker-11">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-12-mob" class="animate-flicker-12">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
	</div>
	
	<div class="scrolling-bg scroll-bg-3">
        <h1 id="what-done-header">What I've done</h1>
	</div>
	<div class="works-section-mob">
	    <div class="works-wrapper-mob">
	        <div id="works-1">
	            <img id="client-1-logo" src="<%= asset_path('Social_Playground_logo_Circle.png') %>">
	            <p id="client-1-mob-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, ut odio nesciunt earum</p>
	        </div>
	        <div id="works-2">
	            <img id="client-2-logo" src="http://cdn.shopify.com/s/files/1/0876/0596/t/6/assets/logo.png?8575884855795847578" >
	            <p id="client-2-mob-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, ut odio nesciunt earum</p>
	        </div>
	    </div>
	</div>
	
	<div id="mob-contact" class="contact-section-mob">
	    <h2 id="cta-mob">Like to know more?</h2>
	    <h3 id="cta-mob-2">I'll be waiting...</h3>
	    <img id="mob-batman-lounge" src="<%= asset_path('bat-lounge-with-shadow.png') %>">
	    <a id="contact-mob" class="contact-btn-mob">Enquire</a>
	    <div id="mob-form-div">
	        <a id="mob-close-form-link"></a>
	        <img id="mob-form-close-icon" src="<%= asset_path('form-close-icon.png') %>">
	        <%= render 'contacts/form' %>
	    </div>
	</div>
	
	<footer><h5 id="footer-text">&copy;Hoot & Holla, 2016</h5></footer>
	
</div>