
<!-------------------- Home Page --------------------> 


<div class="home-wrapper"  id="top">
    <div class="hero-section">
        <img id="hoot-logo" src="<%= asset_path('hoothollalogonocross.png') %>">
        <img id="hoot-cross" src="<%= asset_path('hoot-cross.png')  %>">
        <h1 id="hero-text">web-dev / superhero</h1>
        <img id="batman-computer" src="<%= asset_path('batman-computer.png') %>">
        <img id="nav-right" src="<%= asset_path('arrow-blue.png') %>">
    </div>
</div>
<nav class="navbar-bottom">
    <ul class="nav-buttons">
        <a class="nav-item-1" href="#"><li>About</li></a>
        <a class="nav-item-2" href="#"><li>Contact</li></a>
        <img id="nav-down" src="<%= asset_path('arrow-blue.png') %>">
    </ul>
</nav>

<!-------------------- About Page --------------------> 

<div class="about-wrapper">
    <div class="about-hero-section">
        <!--<img id="hoot-logo" src="<%= asset_path('hoothollalogonocross.png') %>">-->
        <!--<img id="hoot-cross" src="<%= asset_path('hoot-cross.png')  %>">-->
        <!--<h1 id="hero-text">web-dev / superhero</h1>-->
        <img id="batman-lounge" src="<%= asset_path('Batman Lounge.png') %>">
        <img id="nav-left" src="<%= asset_path('arrow-blue.png') %>">
    </div>
</div>
<!--<nav class="navbar-bottom">-->
<!--    <ul class="nav-buttons">-->
<!--        <a class="nav-item" href="#"><li>Home</li></a>-->
<!--        <a class="nav-item" href="#"><li>Contact</li></a>-->
<!--        <img id="nav-down" src="<%= asset_path('arrow-blue.png') %>">-->
<!--    </ul>-->
<!--</nav>-->


<!-------------------- Contact Page -------------------->

<div class="contact-wrapper">
    <div class="contact-section">
        <img id="nav-up" src="<%= asset_path('arrow-blue.png') %>">
        <%= render 'contacts/form' %>
        <div id="dark-1">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-2">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-3">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-4">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-5">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-6">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-7">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-8">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-9">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-10">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-11">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
        <div id="dark-12">
            <img id="eyes" src="<%= asset_path('batman-eyes.png') %>">
        </div>
    </div>
</div>