<%= form_for Contact.new do |f| %>
    <p class="name-pg"><%= f.text_field :name, placeholder: "Name", required: true, class: "name-field" %></p>
    <p class="comment-pg"><%= f.text_area :comment, placeholder: "Message", required: true, class: "comment-field" %>.</p>
    <p class="email-pg"><%= f.text_field :email, placeholder: "Email", required: true %></p>
    <%= f.submit "SEND", class: "submit-button" %>
<% end %>
